body{
    background-color: #0073ff;
    background-image: url("https://www.transparenttextures.com/patterns/paper-fibers.png");
}
/* body{
    background-color: #00ffea;
background-image: url("https://www.transparenttextures.com/patterns/paper-fibers.png");
} */

/* body {
    background-color: #fafafa;
background-image: url("https://www.transparenttextures.com/patterns/paper-fibers.png");
} */